<main>
  <header>
    <h3>Commander make your pick - f4</h3>
  </header>
  <section class="list">
    <app-focus-list>
      <app-focus-list-item (checkChanged)="onCheckChanged($event)" [displayProperty]="'name'" [item]="ship"
        *ngFor="let ship of allStarships">
      </app-focus-list-item>
    </app-focus-list>
  </section>
  <section>
    <button mat-flat-button style="margin-right: 10px" color="accent" (click)="outputSelection()">Use rides (enter)</button>
    <button mat-flat-button color="warn" (click)="clear()">Cancel (esc)</button>
  </section>
</main>
