main {
  display: flex;
  flex-direction: column;
  grid-template-rows: calc(100vh - 120px);
}

section {
  overflow: auto;
}

.list {
  max-height:  calc(100vh - 300px);
  margin-bottom: 10px;
}

mat-form-field {
  width: 90%;
  margin-bottom: 10px;
}

